$color_button: #f44336;
.container-login {
  position: relative;
  min-height: 100vh;
  background-image: url("../../assets/1162442\ 1.png");
  background-size: cover;
  background-position: 50% 0;
  z-index: 0;
}

.container-login:before {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    114.83deg,
    rgba(255, 255, 255, 0.5) 0.8%,
    rgba(3, 17, 30, 0) 101.31%
  );
  filter: drop-shadow(0px 25px 25px rgba(0, 0, 0, 0.15));
  backdrop-filter: blur(5px);
}

.login_google {
  background-color: $color_button;
  max-width: 230px;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  position: absolute;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.button-login {
  display: flex;
  border: none;
  background-color: $color_button;
  color: aliceblue;
}

.logo-gg {
  max-width: 25px;
  max-height: 25px;
  margin-right: 9px;
  vertical-align: unset;
}

.text_login {
  margin-top: -3px;
}
