.section {
  display: flex;
  padding: 3rem 0.8rem;
  flex: 1;
  /* margin: 0 auto; */
}

.container_1 {
    overflow: auto;
}

.section-left {
  flex: 1;
  padding-left: 2rem;
  padding-right: 2rem;
}

.section-right {
  flex: 3;
}
.section-left h3 {
  color: white;
}
.section-left dt {
  font-weight: 700;
  color: #dbdbdb;
}
.section-left dd {
  margin-bottom: 1.2em;
  color: #b5b5b5;
}
