.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  background-color: #61dafb;
  width: 100%;
  height: 56px;
}

.header .start {
  display: flex;
  flex: 1;
  background-color: red;
}
.header .center {
  display: flex;
  flex: 3;
  background-color: rgba(33, 33, 33, 0.98);
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  justify-content: center;
}
.header .end {
  display: flex;
  flex: 1;
  background-color: rgba(33, 33, 33, 0.98);
  align-items: center;
  justify-content: center;
}

.form-search {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 572px;
}

.avatar-img {
  aspect-ratio: auto 32 / 32;
  border-radius: 50%;
  margin-left: 10px;
}

button {
  background-color: rgba(33, 33, 33, 0.98);
  color: rgb(228, 230, 235);
  border: none;
}

.link-list {
  display: none;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 1px;
  padding-top: 100px;
  padding-left: 40%;
  transition: font-size 0.6s, line-height 0.6s, letter-spacing 0.6s, display 1s;
  /* transition-delay: 0.3s; */
}

.menu-button .link-list {
  display: block;
}

@media (width <= 600px) {
  .menu-button .menu {
    width: 250px;
    height: 250px;
    border-bottom-left-radius: 100%;
  }

  .menu-button .link-list {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    padding-top: 60px;
    padding-left: 40%;
  }

  .close-menu {
    width: 33.33px;
    height: 33.33px;
  }
}

@media (600px < width <= 1100px) {
  .menu-button .menu {
    width: 350px;
    height: 350px;
    border-bottom-left-radius: 100%;
  }

  .menu-button .link-list {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0px;
    padding-top: 90px;
    padding-left: 40%;
  }

  .close-menu {
    width: 40px;
    height: 40px;
  }
}

@media (1100px < width) {
  .menu-button .menu {
    width: 450px;
    height: 450px;
    border-bottom-left-radius: 100%;
  }

  .menu-button .link-list {
    font-size: 35px;
    line-height: 50px;
    letter-spacing: 1px;
    padding-top: 100px;
    padding-left: 40%;
  }

  .close-menu {
    width: 50px;
    height: 50px;
  }
}

li {
  list-style: none;
}

.link-option {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.link-option:hover {
  color: rgb(0, 0, 0);
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: rgb(0, 0, 0);
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

body {
  background-color: rgb(0, 0, 0);
}

.container_1 {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  padding-bottom: 5px;
}


h2 {
  color: white;
}



.movie-name {
  /* bottom: 0px; */
  font-family: "Quicksand", sans-serif;
  margin-left: 10px;
}

.card1:hover .info {
  transform: translateY(0) translateZ(0);
}

.movie-release {
  padding-left: 20px;
  padding-right: 50px;
  min-width: 500px;
}

.movie-coming {
  width: 90%;
  margin-left: 10px;
}

.card-movie-coming {
  display: flex;
  width: 100%;
  height: inherit;
  aspect-ratio: 3/1;
  padding-bottom: 1px;
  border-bottom: 1px solid white;
  color: white;
}

.card-movie-coming .number {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.card-movie-coming .poster-movie-coming {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-poster-movie-coming {
  width: 70%;
  height: inherit;
  aspect-ratio: 2/3;
}

.card-movie-coming .info-movie-coming {
  flex: 4;
  padding-top: 10px;
}

.container_1 .top-movie-coming {
  min-width: 500px;
}

.movie-release .text-description {
  height: 60px;
  line-height: 20px;
  overflow: hidden;
}

@media (width <1191px) {
  .movie-release .text-description {
    height: 0px;
  }
}

#content-top {
  margin-right: 0px;
}
